header{
    background-color: rgba(128, 128, 128, 0.555);
    width: 99%;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;


    .nav{
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;
        gap: 10px;
    }
}