.cardstats{
    justify-content: center;
}
.cardPrimary{
    background-color: blue;
    color: white;
}
.WarningCard{
    background-color: yellow;
    color: white;
}
.succesCard{
    background-color: green;
    color: white;
}
.dangerCard{
    background-color: red;
    color: white;
}